@charset "utf-8";
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css");
@import url("normalize.css");
@import url("reset.css");

:root {
  --font-size: 16px;
  --font-bold:700;
  --black: #000;
  --white: #fff;
  --body-l:calc(var(--font-size) + 8px); /*24px*/
  --body-sl:calc(var(--font-size) + 4px);/*20px*/
  --body-m:calc(var(--font-size) + 2px);/*18px*/
  --body-s:calc(var(--font-size) - 2px);/*14px*/
}

body {
  /* 컬러 */
  --C-primary: #333;
  --C-secondary: #141414;
  --C-black: #000;
  --C-white: #fff;

  /******* 컬러 */
}


body {font-family: 'SUIT', sans-serif; background-color: var(--C-secondary); color: var(--C-white); overflow-x: hidden;}

.hidden {
  position: relative;
  left: 0;
  top: -9999px;
  overflow: hidden;
}
.ti {
  text-indent: -9999px;
  display: block;
}
.df {
  display: flex;
}

.fdc {
  flex-direction: column;
}

.jcc {
  justify-content: center;
}

.aic {
  align-items: center;
}
h1{
  font-size: 50px;
  font-weight: bold;
  font-family: 'Yapari Trial', sans-serif;
  line-height: 1.4;
  font-weight: 500;
}
.h1, .h2, .h3, .h4 {line-height: 1.1;}
.h1, .h2, .h3, .h4, .body1b, .body2b, .body3b, .body4b, .body5b { font-weight: var(--font-bold);}
.h1{font-size: 120px;}
.h2{font-size: 90px; font-family: 'Yapari Trial', sans-serif;} 
.h3{font-size: 48px;}
.h4{font-size: 32px;}
.body1b {font-size: var(--body-l); }
.body2b {font-size: var(--body-sl);}
.body3b {font-size: var(--body-m);}
.body4b {font-size: var(--font-size);}
.body5b {font-size: var(--body-s);}
.body1 {font-size: var(--body-l);}
.body2 {font-size: var(--body-sl);}
.body3 {font-size: var(--body-m);}
.body4 {font-size: var(--font-size);}
.body5 {font-size: var(--body-s);}
/************ 타이포그라피 */


/* 버튼 공통 */
.primary_btn {
  display: inline-block;
  background: var(--C-white);
  border-radius: 10px;
  text-align: center;
  line-height: 22.4px;
  font-size: var(--body-sl);
  color: var(--black);
  padding: 10px 15px;
  text-transform: capitalize;
  font-family: 'SUIT', sans-serif;
}
.hover_btn {
  display: inline-block;
  background:var(--C-hover);
  border-radius: 6px;
  text-align: center;
  line-height: 22.4px;
  font-size: 16px;
  color: #fff;
  padding: 10px 30px;
  text-transform: capitalize;
  font-family: 'SUIT', sans-serif;
  cursor: pointer;
  transition: 0.2s;
}
.second_font {
  font-family: 'Yapari Trial', sans-serif;
}

#header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 1000;
  overflow: hidden;
  background:var(--C-secondary);
}

#header .header_ct{
  padding: 15px 70px;
  justify-content: space-between;
  font-size: var(--body-l);

    
}
.logo {
  width: 95px;
  height: 65px;

}
.gnb_wrap {
  gap: 65px;
}
.util {
  gap: 40px;
}


.pr_grid {
  padding: 180px 150px 0 150px;
  position: relative;
}
.content_wrap {
  justify-content: space-between;
  padding-bottom: 100px
}
.project_img {
  width: 930px;
  height: 625px;
  margin-bottom: 100px;
}

.circle_img_r,
.circle_img_l{
  width: 500px;
  height: 500px;
}

@keyframes circle {
  0% {
    transform: rotate(360deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
[class^="circle_img"] {
  animation: circle 15s infinite;
}
#footer {
  padding: 50px 0;
  text-align: center;
  font-size: var(--body-m);
}
.option {
  position: fixed;
  right: 80px;
  bottom: 30px;
  gap: 20px;
  z-index: 100;
}
.option .upto_top,
.option .board{
  width: 65px;
  height: 65px;
  background: var(--white);
  border-radius: 50%;
  position: relative;
  box-shadow: 1px 1px 3px var(--C-secondary);
}
.upto_top span,
.board span {
 font-size: 30px;
}
.board:hover::after{
  opacity: 1;
}

.board::after {
  opacity: 0;
  content: '질문하기';
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  top: -50px;
  width: 77px;
  height: 32px;
  color: var(--black);
  border-radius: 5px;
  background: var(--C-white);
  padding: 8px 10px;
  transition: 0.2s;
}

.link_wrap span {
  position: relative;
}
.link_wrap span:hover::after{
  opacity: 1;
}
.link_wrap span::after {
  opacity: 0;
  content: '사이트가기';
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  bottom: -50px;
  color: var(--black);
  border-radius: 5px;
  background: var(--C-white);
  padding: 8px 10px;
  transition: 0.2s;
  font-size: 18px;
  font-family: 'SUIT', sans-serif;
}
